* {
  padding: 0px;
  margin: 0px;
  min-width: 0;
}
.pageWrapper {
  width: 100dvw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: slategray;
}
.headerWrapper {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBar {
  width: 40%;
  height: 100px;
  border-radius: 8px;
}
.weatherWrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 30%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.weatherMoodle {
  border-radius: 8px;
  box-shadow: 4px black;
  background-color: black;
  width: 200px;
  height: 200px;
}
.weatherTextArea {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.weatherHeaderText {
  font-size: 14px;
}
.weatherTempTextArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weatherTempToggle {
  height: 25px;
  width: 25px;
}
.weatherWindTextArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
