:root {
  --primary-color: #ffffff;
  --secondary-color: #451757;
  --critical-color: #9e5651;
  --urgent-color: #a78b54;
  --routine-color: #4c7a4a;
  --text-color: #000000;
  --nav-text-color: #dfa553;
  --form-color: #dff3e4;
  --deleteBtn-border: rgb(201, 97, 97);
}
* {
  padding: 0px;
  margin: 0px;
  min-width: 0;
}
.body {
  background-color: black;
}
button {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  flex-shrink: 0;
  border-width: 2px;
  border-color: var(--nav-text-color);
}
.deleteBtn {
  border-radius: 8px;
  border-width: 2px;
  width: 20px;
  height: 20px;
  border-color: var(--deleteBtn-border);
  background-color: rgb(190, 81, 81);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: absolute;
  outline: inherit;
  top: 8px;
  right: 8px;
}
.mainWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.navWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6px;
  width: 15%;
  background-color: var(--secondary-color);
  color: var(--nav-text-color);
}
.NavProjPanelWrapper {
  gap: 6px;
}
.navItem {
  padding-left: 8px;
}
.projBodyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-color);
}
.taskWrapper,
.projWrapper,
.todayWrapper {
  display: flex;
  gap: 6px;
  color: var(--text-color);
}
.projWrapper {
  flex-direction: column;
  position: relative;
  min-height: 150px;
  width: 100%;
  justify-content: space-between;
}
.projName {
  font-size: 36px;
  font-weight: 600;
}
.projDate {
  font-size: 24px;
}
.projDesc {
  font-size: 18px;
  padding: 18px;
}
.projItem {
}
.taskWrapper {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-radius: 12px;
  margin-left: 16px;
}
.taskName {
}

.taskItem {
  width: 100px;
  height: 25px;
  margin: 12px;
}
.taskDesc {
  width: 50%;
}
.taskDue {
  width: 15%;
}
.taskCircle {
  width: 25px;
  height: 25px;
  margin-left: 16px;
  border-radius: 50%;
}
.taskCheckMark {
  height: 20px;
  width: 20px;
  opacity: 10%;
}
.taskCheckMark:hover {
  opacity: 100%;
}
.todayWrapper {
  flex-direction: column;
  width: 100%;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text-color);
  width: 400px;
  border-radius: 8px;
  background-color: var(--form-color);
  border-width: 2px;
  border-color: var(--text-color);
  border-style: solid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.89) 0px 5px 15px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px;
  border-radius: 0px;
}
.addFormName {
  height: 50px;
  font-size: 20px;
  border-style: none;
  background-color: var(--form-color);
}
.addFormDesc {
  height: 40px;
  font-size: 12px;
  border-style: none;
  display: inline-block;
  background-color: var(--form-color);
}
.addFormDate {
  border-radius: 4px;
  height: 20px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
  background-color: var(--form-color);
}
.addFormPrio {
  border-radius: 4px;
  height: 20px;
  width: 150px;
  border-style: solid;
  border-width: 1px;
  background-color: var(--form-color);
}
.dateFormWrapper {
  display: flex;
  gap: 8px;
}
.Critical {
  background-color: var(--critical-color);
}
.Urgent {
  background-color: var(--urgent-color);
}
.Routine {
  background-color: var(--routine-color);
}
